* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#header1 {
    color: white;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header2 {
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .contact-info div {
        width: 30%;
    }

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

    .contact-form input, .contact-form textarea {
        width: calc(50% - 20px);
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact-form textarea {
        height: 100px;
    }

    .contact-form button {
        width: 100%;
        padding: 10px 20px;
        background-color: #a17a54;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .contact-form button:hover {
            background-color: #8e6543;
        }
